<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzGbZMLx4hWTurZgg73m5ANyyHrzrQaKg</string>
	<key>GCM_SENDER_ID</key>
	<string>809474027131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIBM.PawFinder</string>
	<key>PROJECT_ID</key>
	<string>pawfind-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pawfind-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:809474027131:ios:d162901b6cf32eb0083cde</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>PawFinder would like to send you notifications to thank you for your community contributions and remind you about lost pets that need help.</string>
</dict>
</plist>
